#!/usr/bin/env python
# -*- coding: utf-8 -*-

from common.utils.YamlUtil import YamlUtil
from step.DBP.admin_portal.StepPortal import StepPortal

protocol = YamlUtil.read_conf_yaml('${PROTOCOL_PATH}')


class Step${CLASS_NAME}(StepPortal):