#!/usr/bin/env python
# -*- coding: utf-8 -*-

from step.commom.YamlUtil import YamlUtil
from step.commom.StepPortal import StepPortal

protocol = YamlUtil.read_conf_yaml('${PROTOCOL_PATH}')


class Step${CLASS_NAME}(StepPortal):